html {
	scroll-behavior: smooth;
}

body {
	display: grid;
	margin: 0;
	font-family: "Rubik", monospace;
	font-weight: 400;
	line-height: 1.7;
	font-size: 15px;
}

button {
	font-size: 14px;
	font-weight: 400;
	text-decoration: none !important;
	border-radius: 20px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	cursor: pointer;
}

a {
	color: white;
	text-decoration: none;
}

#PáginaPrincipal {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	height: 100vh;
	width: 100vw;
	margin: 0 0 0 0;
}

.contenedorIzquierdo {
	display: flex;
	justify-content: center;
	/* eje X */
	align-items: center;
	/* eje Y */
	background-color: #fcecf1;
	border-radius: 0 50% 50% 0;
	height: 100vh;
}

#fotoCV {
	width: 30vw;
	height: 30vw;
	border-radius: 50%;
	object-fit: cover;
	margin: 0 5% 0 30%;
}

.contenedorDerecho {
	display: grid;
	grid-template-rows: 10% 90%;
	align-items: center;
	height: 100vh;
}

.modeAndLanguage {
	display: flex;
	justify-content: flex-end;
	/* eje X */
	align-items: flex-start;
	position: sticky;
	top: 0px;
	z-index: 999;
	margin: 20px 0 0 0;
	height: fit-content;
}

.moon {
	width: 31px;
	height: 31px;
	cursor: pointer;
}

.spanishLanguage {
	width: 30px;
	cursor: pointer;
}

.englishLanguage {
	width: 30px;
	cursor: pointer;
}

.presentación {
	display: grid;
	grid-template-rows: 0.5fr 1fr repeat(2, 0.5fr) 1fr;
	justify-content: flex-start;
	/* eje Y porque lo puse como columna entonces se invierte */
	padding: 0 40% 10% 2%;
	height: 60%;
	align-items: flex-start;
	/* eje X porque lo puse como columna entonces se invierte */
	word-wrap: break-word;
}

.presentación p {
	font-weight: 500;
	margin: 0;
}

.name {
	font-family: "Rubik", serif;
	font-size: 65px;
	font-weight: 700;
	line-height: 1;
	color: black;
	margin: 5px 0 5px 0;
	align-self: center;
}

.buttonsPrincipalPage {
	font-family: inherit;
	align-self: center;
	color: white;
	font-weight: 400;
	font-size: 14px;
	background-color: #f1487a;
	width: max-content;
	border: solid #d9346d;
	box-shadow: inset 4px -4px 7px #c33a63,
		inset -4px 4px 7px #ff5691;
}



#PáginaDesarrollada {
	display: grid;
	width: 100vw;
}

.aboutMe {
	width: 60%;
	text-align: center;
	justify-self: center;
	align-self: end;
	margin: 2% 0 0 0;
}

.aboutMe p {
	color: #555;
	margin: 0;
}

.titles {
	margin: 3% 0 0 0;
	font-weight: 300;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.edLanSk {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 5%;
	margin: 2% 10% 2% 10%;
}

.firstBoxes {
	background: #fff8fa;
	border-radius: 5px;
	box-shadow: 4px 4px #d9346d;
	height: 45px;
	overflow: hidden;
	transition: height .5s;
	interpolate-size: allow-keywords;
	cursor: pointer;
}

.firstBoxes:hover {
	height: auto;
}

.firstBoxes.open {
	height: auto;
}


.titleMin {
	margin: 15px 0 5px 15px;
	font-weight: 300;
	font-size: 22px;
	text-transform: uppercase;
	line-height: 1.2;
	align-self: end;
}

ul {
	margin: 0;
}

.liNoLi {
	position: relative;
	left: -22px;
	margin: 5px 0 0 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	list-style: none;
}

.detail {
	color: #555;
	font-weight: 400;
	font-size: 15px;
	list-style: none;
	margin: 5px 0 0 0;
}

.liS {
	position: relative;
	left: -22px;
	margin: 0px;
}


#gridContainer {
	background-color: gray;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 7%;
}

.leftDivGrid {
	display: grid;
	grid-template-rows: 45% 55%;
	margin: 30px 0 30px 30px;
}

.socialMedias {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: 20% 40% 40%;
	grid-template-areas:
		"header header"
}

.emoji {
	height: 23.5vw;
	width: auto;
	justify-self: end;
	/* eje X */
	align-self: center;
	/* eje Y */
}

.rightDivGrid {
	display: grid;
	grid-template-rows: repeat(2, 45%);
	margin: 30px 30px 30px 0;
	gap: 10%;
}

.topRightDivGrid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 20% 40% 40%;
	grid-template-areas:
		"header header header header header header";
}

.bottomRightDivGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 20% 60% 20%;
	grid-template-areas:
		"header header header"
		"logos logos logos";
}

.header {
	color: white;
	grid-area: header;
	padding: 0 0 0 20px;
	font-weight: 300;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1.2;
	margin-block-end: auto;
}

.logos {
	align-self: center;
	justify-self: center;
}

.socialMediaLogo {
	align-self: center;
	justify-self: center;
}

.descriptionSkills {
	font-size: 13px;
	color: white;
	align-self: center;
	word-wrap: break-word;
	text-align: center;
}


#ContactAndReview {
	height: 100vh;
	width: 100vw;
}

.reviews {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 3%;
}

.contactBox {
	background-color: #fff8fa;
	display: grid;
	grid-template-rows: 0.5fr repeat(2, 1fr) 1.5fr;
	margin: 30px 0 30px 30px;
	padding: 30px;
}

.reviewBox {
	background-color: #fff8fa;
	display: grid;
	grid-template-rows: repeat(2, 0.5fr) 3fr;
	margin: 30px 30px 30px 0;
	padding: 30px;
}

.contactList {
	padding: 0 0 0 15px;
	left: -22px;
	list-style: none;
	margin: 0px;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 0.5fr 4fr;
	grid-template-areas:
		"imgMail mail"
		"arg telARG"
		"es telES"
		"se telSE";
}

.email {
	grid-area: mail;
	align-self: center;
	word-wrap: break-word;
}

.telArg {
	grid-area: telARG;
	align-self: center;
}

.telEs {
	grid-area: telES;
	align-self: center;
}

.telSe {
	grid-area: telSE;
	align-self: center;
}

.imgMail {
	grid-area: imgMail;
	align-self: center;
	width: 20px;
	filter: invert(16%) sepia(88%) saturate(3724%) hue-rotate(-10deg) brightness(93%) contrast(106%);
}

.imgARG {
	grid-area: arg;
	align-self: center;
	width: 20px;
}

.imgES {
	grid-area: es;
	align-self: center;
	width: 20px;
}

.imgSE {
	grid-area: se;
	align-self: center;
	width: 20px;
}

.contactDetails,
.email {
	font-weight: 500;
}

.reviewBox h1,
.reviewBox p,
.contactBox h1,
.contactBox h3,
.contactBox p {
	margin: 10px;
	align-self: center;
}

.contactBox h3 {
	font-weight: 500;
}

.reviewBox h1,
.contactBox h1 {
	text-align: start;
}

form {
	margin: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 3fr 0.5fr 1fr;
	gap: 1vh 3vw;
	grid-template-areas:
		"namebox companybox"
		"positionbox positionbox"
		"reviewbox reviewbox"
		"send send"
		"mensajereview mensajereview";
}

.fullName {
	grid-area: namebox;
}

.company {
	grid-area: companybox;
}

.position {
	grid-area: positionbox;
}

.review {
	grid-area: reviewbox;
}

#addedReview {
	grid-area: mensajereview;
}

textarea {
	width: 100%;
	height: 20vh;
	border: solid rgb(231, 231, 231);
	font-family: inherit;
}

input {
	display: inline-block;
	border: solid rgb(231, 231, 231);
	height: 5vh;
	width: 100%;
	font-family: inherit;
}

.sendButton {
	grid-area: send;
	color: white;
	font-weight: bold;
	font-size: 15px;
	background-color: #f1487a;
	width: max-content;
	border: solid #d9346d;
	box-shadow: inset 4px -4px 7px #c33a63,
		inset -4px 4px 7px #ff5691;
}



#portfolio {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-rows: 0.5fr 5fr;
}

.projects {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-self: center;
	gap: 5%;
	margin: 0 10% 0 10%;
}

.projectBox {
	display: grid;
	overflow: hidden;
	border-radius: 43px;
	background: #fff8fa;
	box-shadow: inset 17px -17px 41px #acacac,
		inset -17px 17px 41px #ffffff;
	position: relative;
}

.projectBox a {
	display: grid;
	align-content: center;
	overflow: hidden;
	border-radius: 43px;
}

.tooltip {
	text-align: center;
	align-content: center;
	display: none;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 5px;
	white-space: nowrap;
	width: 80%;
	height: 40%;
	border-radius: 43px;
	text-wrap: balance;
}

.projectBox:hover .tooltip {
	display: block;
}

.tooltip h3 {
	text-align: center;
	margin: 0px;
	font-size: x-large;
}

span {
	color: rgba(255, 255, 255, 0.6);
	font-size: medium;
}

.imgProjects {
	width: 80%;
	align-self: center;
	justify-self: center;
}

.ol {
	position: relative;
	border-left: 1px solid;
	border-color: #e5e7eb;
	font-weight: 200;
	left: 20px;
	margin: 2% 10% 2% 10%;
}

.experience {
	margin-bottom: 2.5rem;
	list-style: none;
}

.imgCalendar {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1.5rem;
	height: 1.5rem;
	background-color: #fff8fa;
	font-weight: 100;
	border-radius: 9999px;
	inset-inline-start: -0.75rem;
	margin-top: 2px;
}

.detailsImgCalendar {
	width: 0.625rem;
	height: 0.625rem;
	color: #d9346d;
	font-weight: 800;

}

.nameExperience {
	margin-bottom: 0.25rem;
	font-size: 1.125rem;
	font-weight: 600;
}

.lastJob {
	background-color: #fff8fa;
	color: #d9346d;
	font-size: 0.875rem;
	margin-inline-end: 0.5rem;
	padding: 0.25rem 0.625rem;
	margin-left: 0.75rem;
}

.datePosition {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
	color: #9ca3af;
}

.descriptionPosition {
	font-size: 1rem;
	font-weight: 400;
	color: #6b7280;
}

.tasks {
	font-size: 15px;
	color: #555;
	font-weight: 400;
	line-height: 1.7;
	word-wrap: break-word;
}

.englishLanguage {
	margin: 0 20px 0 0
}

@media only screen and (max-width: 479px) {
	#gridContainer {
		grid-template-rows: 20% 80%;
		grid-template-columns: auto;
		column-gap: 0;
		justify-content: center;
	}

	.leftDivGrid {
		width: 90vw;
		grid-template-rows: auto;
		grid-template-columns: repeat(2, 1fr);
		margin: 0;
	}

	.socialMedias {
		grid-template-rows: 35% 65%;
	}

	.emoji {
		height: 40.5vw;
	}

	.socialMediaLogo {
		width: fit-content;
		height: fit-content;
	}

	.logos {
		transform: scale(0.6);
	}

	.rightDivGrid {
		width: 90vw;
		gap: 2%;
		margin: 0;
		grid-template-rows: repeat(2, 1fr);
	}

	.topRightDivGrid {
		grid-template-rows: 20% repeat(3, 26.66666667%);
		grid-template-columns: repeat(4, 25%);
		grid-template-areas: "header header header header";
		width: inherit;
	}

	.bottomRightDivGrid {
		grid-template-columns: repeat(3, 33.33333333%);
		grid-template-rows: auto;
		grid-template-areas:
			"header header header"
			"logos logos logos";
		width: inherit;
	}

	#ContactAndReview {
		height: auto;
	}

	.reviews {
		display: flex;
        flex-direction: column;
        height: auto;
	}

	.contactBox {
		margin: 0;
        grid-template-rows: auto;
        padding: 3%;
	}

	.reviewBox {
		margin: 3% 0 0 0;
        grid-template-rows: auto;
        padding: 3%;
	}

	textarea {
		height: auto;
	}

	input {
		height: auto;
	}

	#PáginaPrincipal {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		height: auto;
		background: linear-gradient(to bottom, #fcecf1, #ffffff);
	}

	.contenedorIzquierdo {
		align-self: center;
		background-color: initial;
		height: min-content;
		border-radius: 0;
		width: 90vw;
	}

	#fotoCV {
		width: 80vw;
		height: 80vw;
		border-radius: 50%;
		object-fit: cover;
		margin: 3% 0 3% 0;
	}

	.contenedorDerecho {
		display: flex;
		height: auto;
		width: 90vw;
		flex-direction: row-reverse;
		align-self: center;
	}

	.modeAndLanguage {
		flex-direction: column;
		width: fit-content;
		position: relative;
		top: -100px;
		align-items: initial;
		margin: 0;
	}

	.englishLanguage {
		margin: 0;
	}

	.presentación {
		padding: 0;
		align-self: start;
		height: auto;
		margin: 0;
		grid-template-rows: repeat(4, 0.5fr) 1fr;
	}

	.presentación p {
		font-size: 18px !important;
	}

	.presentación p:last-child {
		display: inline-block;
	}

	.name {
		font-size: 45px;
		margin: 0;
	}

	.aboutMe {
		width: 90vw;
	}

	#PáginaDesarrollada {
		height: auto;
	}

	.edLanSk {
		width: 90vw;
		margin: 0;
		justify-self: center;
		display: flex;
		flex-direction: column;
		height: auto;
		column-gap: 0;
	}

	.firstBoxes {
		height: 35px;
		margin: 5% 0 0 0;
	}

	.liS {
		list-style: none;
	}

	#ProfessionalExperience {
		height: auto;
		margin: 5% 0 0 0;
	}

	.titleMin {
		font-size: 17px;
		margin: 3% 0 0 3%;
	}

	.ol {
		width: 90vw;
		margin: 0;
		padding: 0 0 0 3%;
	}

	.nameExperience {
		word-wrap: break-word;
	}

	.lastJob {
		margin: 0 0 0 -4%;
	}

	#portfolio {
		overflow: auto;
	}

	.projects {
		height: auto;
		width: 90vw;
		margin: 0;
		row-gap: 1vh;
		grid-template-columns: auto;
		justify-self: center;
	}

	.projectBox {
		width: 70vw;
	}

	.imgProjects {
		width: 45%;
	}

	.tooltip {
		height: 65%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.presentación {
		padding: 0 15% 10% 2%;
		height: 70%;
	}

	.projects {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 0;
	}

	.projectBox {
		width: max-content;
		justify-self: center;
	}

	.imgProjects {
		width: 28vh;
	}

	.emoji {
		height: 30vw;
	}

	.socialMedias {
		grid-template-rows: 28% 28% 1fr;
	}

	.rightDivGrid {
		grid-template-rows: repeat(2, 50%);
		margin: 30px 30px 30px 0;
		gap: 0;
	}

	.topRightDivGrid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 25% repeat(3, 25%);
		grid-template-areas: "header header header header";
	}

	.bottomRightDivGrid {
		grid-template-rows: 28% 28% 1fr;
	}

	.descriptionSkills {
		margin: 0;
		margin: 7vh 0 0 0;
		align-self: start;
	}

	.header {
		margin: 0;
		font-size: 25px;
		align-self: end;
	}

	.logos {
		transform: scale(0.9);
		margin: 5vh 0 0 0;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.presentación {
		padding: 0 20% 10% 2%;
	}

	.emoji {
		height: 30vw;
	}

	.socialMedias {
		grid-template-rows: 28% 28% 1fr;
	}

	.rightDivGrid {
		grid-template-rows: repeat(2, 50%);
		margin: 30px 30px 30px 0;
		gap: 0;
	}

	.topRightDivGrid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 25% repeat(3, 25%);
		grid-template-areas: "header header header header";
	}

	.bottomRightDivGrid {
		grid-template-rows: 28% 28% 1fr;
	}

	.descriptionSkills {
		margin: 0;
		margin: 7vh 0 0 0;
		align-self: start;
	}

	.header {
		margin: 0;
		font-size: 25px;
		align-self: end;
	}

	.logos {
		transform: scale(0.9);
		margin: 5vh 0 0 0;
	}

	.projects {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 0;
	}

	.projectBox {
		width: max-content;
		justify-self: center;
	}

	.imgProjects {
		width: 28vh;
	}
}

@media only screen and (min-width: 1024px) {}